<div class="text-center">
  <h1 class="mb-5">Welcome to your very own Stupid Coach!</h1>
  <h2 class="mb-5">What do you have to say to your coach?</h2>
  <form class="form-text" action="/answer" data-turbo="false">
    <input type="text" name="answer" id="answer" placeholder="Whassup?">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
